.inputBox form {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

  margin-top: -7.5rem;
  margin-bottom: 2.75rem;
}

.inputBox form input {
  width: 70%;
  height: 3rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  background-color: var(--gray-500);
  resize: none;
  padding: 1rem;
  color: var(--gray-100);
  line-height: 1.4;
  margin-top: 1rem;
  outline: none;
}

.inputBox form input:focus {
  border-color: var(--blue-300);
}

.inputBox form button {
  height: 3rem;
  border: 0;
  margin-left: 0.5rem;
  border-radius: 8px;
  background-color: var(--blue-700);
  font-size: 0.75rem;
  padding: 1rem;
  color: var(--gray-100);
  margin-top: 1rem;
  display: flex;

  text-align: center;
  align-items: center;
  cursor: pointer;
}

.inputBox form button svg {
  margin-left: 0.5rem;
  color: var(--gray-100);
}
